@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "KFGQPC Uthmanic Script HAFS"
  src: local("KFGQPC Uthmanic Script HAFS"), url("../lib/uthmanic/uthmanic-script-hafs-regular.otf") format("truetype")
